<div class="container" id="home-container">
    <div class="jumbotron bg-light p-5 rounded-lg m-3 text-center text-white">
        <h1 class="display-4 text-decoration-none">ALPHA BLOG</h1>
        <p class="lead">Some text about website</p>
        <hr class="my-4">
        <p>Something text</p>
        <%= link_to 'Sign Up', '/signup', class: 'btn btn-success btn-lg'%>

    </div>



</div>