


<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron bg-light p-5 rounded-lg m-3 text-center text-white">
            <h1 class="display-4 text-decoration-none">ALPHA BLOG</h1>
            <p class="lead">Some text about website</p>
            <hr class="my-4">
            <p>Something text</p>
            <a class="btn btn-success btn-lg href=" #" role="button" id="jumbotron-btn">Sign up</a>
        </div>


        
    </div>
</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%=link_to 'ALPHA BLOG' %></small>
    </div>
</footer>